'menu': [
  {
    label: 'Packages'
    submenu: [
      {
        label: 'Pending State'
        submenu: [
          { label: 'Toggle', command: 'pending-state:toggle' }
        ]
      }
    ]
  }
]
